.system-font {
    -unity-font-definition: url('project://database/Assets/Fonts/VT323-Regular%20SDF.asset?fileID=11400000&guid=402076801f492f44295e9189a00d4821&type=2#VT323-Regular SDF');
}

.email-font {
    -unity-font-definition: url('project://database/Assets/Fonts/DotGothic16-Regular%20SDF.asset?fileID=11400000&guid=0b980a8c9db06914ab87e2e3f3d7193d&type=2#DotGothic16-Regular SDF');
}
